<h1>Error 400 - Bad request. Was the request formatted properly?</h1>
{{#if body}}
  <p>Data that was sent:</p>
  <p>{{body}}<p>
  <h3>Fred is angry at you</h3>
  <img src="http://pre06.deviantart.net/d7a9/th/pre/i/2011/176/5/5/velociraptor_smile_by_yankeetrex-d3jzije.jpg" height="50%" width="50%">
{{/if}}
