<h1>You sent the following data in a GET request:</h1>
{{#if data}}
<ul>
  {{#each data}}
    <li>{{this.name}}: {{this.value}}
  {{/each}}
</ul>
{{else}}
  <h2>No data? Why do you waste my time?</h2>
  <h3>Here are some puppies to waste yours.</h3>
  <img src="http://animalsadda.com/wp-content/uploads/2013/07/Alaskan-Malamutes.jpg" width="30%" height="30%">
{{/if}}
